body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color:white;
    background-image: url("https://images.unsplash.com/photo-1585328000852-779be6a6582b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3JlZW4lMjBsZWF2ZXMlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80");

  background-size: cover;
  display: block;
  height: 100%;
   }
   li{font-size: 14px;
    font-style: italic ;
    font-weight: normal;

   }
   a{
    color: rgb(162, 255, 216);
   }
.bold{
    font-weight: bold;
}
.lighter{
    font-weight: lighter;
}
.norm{ font-weight: normal;
}
.wel
{
    font: size 29px;
    font-style: oblique;
    
}
.center{
    text-align: center;

}
.bottom{
    position: relative;
    bottom: 0;
    text-align: center;
}
.left
{
    inline-size: auto;
}

